/* ================================================= */
/* Carousel Section Styling */
/* ================================================= */

/* #carausel_section{
    border-bottom: 1px solid #f0f0f0;
    padding: 22px 140px 110px 140px;
}

#carausel_section #carausel_first{
    padding: 3% 0;
    display: flex;
    gap: 2%;
    align-items: center;
}

#carausel_section #carausel_first span:nth-child(1){
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #656969;
}

#carausel_section #carausel_first span:nth-child(2){
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #5555ff;
}

#carausel_section #carausel_first span:nth-child(2) i{
    padding-left: 5px;
}

#carausel_section #carausel_first span:nth-child(2):hover:not(i){
    text-decoration: underline;
} */

.react-multi-carousel-list ul li img{
    width: 100%;
}

.react-multi-carousel-list ul{
    gap: 1%;
}

/* .react-multi-carousel-list ul li div.card_wrapper{
    margin: auto;
    width: 70%;
} */

.react-multi-carousel-list ul li{
    width: 300px !important;
}

.carausel_text{
    text-align: justify;
}

.hr{
    height: 5px;
    background-color: #037362;
}

.carausel_text h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.carausel_text h3:hover{
    text-decoration: underline;
    color: #037362;
}

.carausel_text p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #282828;
}

.carausel_text p:hover{
    text-decoration: underline;
}

.carausel_text span{
    font-size: 12px;
    line-height: 18px;
    color: #656969;
    font-weight: 400;
}

.carausel_text span:hover{
    text-decoration: underline;
}