.cre {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}
.with {
    font-weight: 400;
    color: gray;
    font-size: 15px;
    text-align: center;
}
.box {
    height: 120px;
    width: 90%;
    margin: auto;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 17%);
    display: grid;
    justify-content:"center";
    grid-template-columns: 33.3% 33.3% 33.4%;
}

.box div {
    height: 100%;
    border: 0.1rem solid #DCDEDD;
    justify-content:"center";
    text-align: center;
}
.box h1 {
    color: #037362;
    font-weight: 400;
    margin-bottom: 0px;
}
.box h4 {
    font: 14px;
    color: gray;
    padding: 0px;
    margin: 0px;
    font-weight:400
}

/*  art */
li{
    list-style: none;
}

section#art{
    padding: 22px 140px 60px 140px;
}

#arts_1 h3{
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    color: #282828;
}

#arts_1 p{
    line-height: 24px;
    color: #656969;
}

#arts_1 div{
    display: flex;
    gap: 2%;
    font-size: 14px;
    line-height: 21px;
}

#arts_1 div a{
    color: #4c6cf8;
}

#arts_2{
    display: flex;
    margin: auto;
    margin-top: 24px;
    /* margin-left: 10%; */
    width: 90%;
}

#arts_2 #arts_2_1{
    /* border: 1px solid red; */
    padding: 24px 60px 0 0;
    border-right: 1px solid #f0f0f0;
    /* width: 100%; */
}

h2.head{
    font-size: 13px;
    line-height: 18px;
    color: #656969;
    font-weight: 700;
}

#arts_2 #arts_2_1 section{
    width: 100%;
}

#arts_2 #arts_2_1 #hr{
    height: 10px;
    background-color: #037362;
    width: 100%;
}

#arts_2 #arts_2_1 h3{
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}

#arts_2 #arts_2_1 h3:hover{
    color: #037362;
    text-decoration: underline;
}

#arts_2 #arts_2_1 p#description{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

#arts_2 #arts_2_1 p#quote{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

#arts_2 #arts_2_1 img{
    width: 100%;
}

#arts_2 #arts_2_2 ul{
    padding: 0;
}

#arts_2 #arts_2_2{
    width: 80%;
    /* border: 1px solid blue; */
    padding: 30px 0 0 60px;
}

#arts_2 #arts_2_2 img{
    width: 100%;
}

#arts_2 #arts_2_2 .card{
    display: flex;
    /* border: 1px solid green; */
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 15px;
    padding-bottom: 2%;
}

.card .small_img{
    width: 40%;
    margin-right: 7%;
}

.card .title p.book_title{
    font-size: 14px;
    /* line-height: 14px; */
    font-weight: 400;
}

.card .title p.book_title:hover{
    color: #037362;
    text-decoration: underline;
    cursor: pointer;
}

.card .title span.funded{
    font-size: 12px;
    /* line-height: 18px; */
    font-weight: 700;
    color: #037362;
}

.card .title p.book_author{
    font-size: 12px;
    /* line-height: 18px; */
    color: #656969;
}

.card .title p.book_author span:hover{
    color: #037362;
    text-decoration: underline;
    cursor: pointer;
}

.like_wrapper{
    display: flex;
    gap: 10%;
    align-items: center;
}

.like_wrapper .far{
    border: 1px solid #f0f0f0;
    padding: 5%;
    border-radius: 50%;
}


/* ================================================= */
/* Subscribe Section Styling */
/* ================================================= */

#subscribe_section{
    text-align: center;
    padding: 3% 0;
    border-bottom: 1px solid #f0f0f0;
}

#subscribe_section h2{
    margin: 0;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    color: #282828;
}

#subscribe_section p{
    color: #282828;
    font-size: 18px;
    line-height: 24px;
}

#subscribe_section input{
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    width: 30%;
    margin-right: 1%;
    /* border: 1px solid rgb(0, 158, 116); */
    border: 1px solid rgb(232, 232, 232);
    outline: none;
}

#subscribe_section input:focus{
    border: 1px solid rgb(0, 158, 116);
}

#subscribe_section input:hover{
    border: 1px solid rgb(0, 158, 116);
}

#subscribe_section button{
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: #464646;
    padding: 10.5px 18px;
    border: none;
    outline: none;
}

#subscribe_section button:hover{
    background-color: black;
}


/* ================================================= */
/* Carousel Section Styling */
/* ================================================= */

#carausel_section{
    border-bottom: 1px solid #f0f0f0;
    padding: 4% 0%;
    width: 90%;
    margin: auto;
}

#carausel_section #carausel_first{
    padding: 3% 0;
    /* border: 1px solid; */
    display: flex;
    gap: 2%;
    align-items: center;
}

#carausel_section #carausel_first span:nth-child(1){
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #656969;
}

#carausel_section #carausel_first span:nth-child(2){
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #5555ff;
}

#carausel_section #carausel_first span:nth-child(2) i{
    padding-left: 5px;
}

#carausel_section #carausel_first span:nth-child(2):hover:not(i){
    text-decoration: underline;
}

/* ============================================ */
/* For Creators section styling */
/* ============================================ */

#creator_section{
    border-bottom: 1px solid #f0f0f0;
    padding: 22px 140px 110px 140px;
}

#creator_section div#creator_first{
    padding: 3% 0;
    /* border: 1px solid; */
    display: flex;
    gap: 2%;
    align-items: center;
}

#creator_section div#creator_first span{
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: #656969;
}

#creator_section div#creator_second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

/* #creator_section div#creator_second img{
    width: 100%;
} */

#creator_section div#creator_second div.creator_2_1 div:nth-of-type(1){
    background-image: url("https://ksr-ugc.imgix.net/assets/032/442/115/9e32d56e2faf52175682ccb57c5bd2b3_original.jpg?ixlib=rb-4.0.2&w=700&fit=max&v=1613767170&auto=format&gif-q=50&q=92&s=edba72ffc96d4c8fd057c39b8dc216b9");
    background-size: cover;
    width: 100%;
    height: 340px;
    background-repeat: no-repeat;
}

#creator_section div#creator_second div.creator_2_2 div:nth-of-type(1){
    background-image: url("https://ksr-ugc.imgix.net/assets/032/441/983/6c91302b17d35fd12f683fed2cfd9b35_original.jpeg?ixlib=rb-4.0.2&w=700&fit=max&v=1613766660&auto=format&gif-q=50&q=92&s=bd50721b8202d9cf69700ce0deb7eb10");
    background-size: cover;
    width: 100%;
    height: 340px;
    background-repeat: no-repeat;
}

#creator_section div#creator_second div.creator_2_1 div:nth-child(2){
    border-left: 7px solid green;
    padding: 0 0 0 3%;
}

#creator_section div#creator_second div.creator_2_1 span{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #5555ff;
}

#creator_section div#creator_second div.creator_2_1 span:hover{
    text-decoration: underline;
    cursor: pointer;
}

#creator_section div#creator_second .creator_heading{
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}

#creator_section div#creator_second .creator_heading:hover{
    text-decoration: underline;
    color: #037362;
}

#creator_section div#creator_second .creator_description{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #282828;
}

/* ============================================ */
/* Home Stretch section styling */
/* ============================================ */

div#homeStretch_section{
    border-bottom: 1px solid #f0f0f0;
    padding: 22px 140px 110px 140px;
}

#homeStretch_section #homeStretch_first{
    padding: 3% 0;
    /* border: 1px solid; */
    display: flex;
    gap: 2%;
    align-items: center;
}

#homeStretch_section #homeStretch_first span:nth-child(1){
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #656969;
}

#homeStretch_section #homeStretch_first span:nth-child(2){
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #5555ff;
}

#homeStretch_section #homeStretch_first span:nth-child(2) i{
    padding-left: 5px;
}

#homeStretch_section #homeStretch_first span:nth-child(2):hover:not(i){
    text-decoration: underline;
}

/* ============================================ */
/* Portfolio section styling */
/* ============================================ */

div#portfolio_section{
    border-bottom: 1px solid #f0f0f0;
    /* padding: 110px 140px 110px 140px; */
    padding: 4% 0%;
    width: 90% !important;
    margin: auto !important;
}

#portfolio_section #portfolio_wrapper{
    display: flex;
    gap: 2%;
    /* border: 1px solid red; */
    height: 250px;
}

#portfolio_section #portfolio_wrapper:hover #portfolio_text span#portfolio_heading{
    text-decoration: underline;
    color: #037362;
}

#portfolio_section #portfolio_wrapper:hover{
    cursor: pointer;
}

#portfolio_wrapper #portfolio_img{
    width: 65%;
    background-image: url("https://ksr-ugc.imgix.net/assets/035/926/919/9c87e310e361fbf2d760d5205410e266_original.jpg?ixlib=rb-4.0.2&crop=faces&w=352&h=198&fit=crop&v=1640540607&auto=format&frame=1&q=92&s=076ebef6f749f8f08e71d66457ca6b3c");
    background-repeat: no-repeat;
    background-size: cover;
}

/* #portfolio_wrapper #portfolio_img img{
    width: 100%;
    height: 100%;
} */

#portfolio_wrapper #portfolio_textWrapper{
    box-sizing: border-box;
}

#portfolio_textWrapper span#link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #5555ff;
}

#portfolio_textWrapper span#link:hover{
    text-decoration: underline;
    cursor: pointer;
}

#portfolio_textWrapper #portfolio_text{
    text-align: justify;
    border-left: 7px solid #037362;
    padding: 0 15% 0 3%;
}

#portfolio_text span#portfolio_heading{
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}

#portfolio_text span#portfolio_heading:hover{
    text-decoration: underline;
    color: #037362;
    cursor: pointer;
}

#portfolio_text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #282828;
}

/* ============================================ */
/* Creators Corner section styling */
/* ============================================ */


div#creatorsCorner_section{
    border-bottom: 1px solid #f0f0f0;
    /* padding: 22px 140px 110px 140px; */
    padding: 4% 0%;
    width: 90%;
    margin: auto;
}

#creatorsCorner_section div#creators_first{
    padding: 3% 0;
    /* border: 1px solid; */
    display: flex;
    gap: 2%;
    align-items: center;
}

#creatorsCorner_section div#creators_first span{
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: #656969;
}
#creators_second{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 70px;
}

#creators_second .cCornersCard_Wrapper{
    display: flex;
    padding: 3%;
    border: 1px solid #f0f0f0;
}

.cCornersCard_Wrapper:hover{
    cursor: pointer;
}

.cCornersCard_Wrapper:hover .cCorners_Text div span{
    text-decoration: underline;
    color: #037362;
}

.cCornersCard_Wrapper .cCornersCard_Image{
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    width: 60%;
}

#creators_second .cCornersCard_Wrapper #cc1{
    background-image: url("https://ksr-static.imgix.net/creator_handbook-2f861a5.jpeg?ixlib=rb-2.1.0&s=db586fa544dbb66ff7a4cbb312474b5d");
    
}

#creators_second .cCornersCard_Wrapper #cc2{
    background-image: url("https://ksr-static.imgix.net/TCI_storytelling-9fe71bf.png?ixlib=rb-2.1.0&s=dca8c6b2fbb2d3d423ae9a9e2f11c165");
}

#creators_second .cCornersCard_Wrapper #cc3{
    background-image: url("https://ksr-static.imgix.net/embrace_mistakes_without_romanticizing_failure_the_creative_independent-059993c.jpg?ixlib=rb-2.1.0&s=943d20dca2ae75fa4a41a574dd5584f1");
}

#creators_second .cCornersCard_Wrapper #cc4{
    background-image: url("https://ksr-static.imgix.net/how_to_archive_your_owrk_digitally_the_creative_indpendent-91b6a74.jpg?ixlib=rb-2.1.0&s=1c54a33aaff65ffa773a480318d5be26");
}

.cCornersCard_Wrapper .cCornersCard_Image{
    margin-right: 4%;
}

.cCorners_Text div span{
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: #282828;
}

.cCorners_Text div span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cCorners_Text div:hover{
    cursor: pointer;
}

.cCorners_Text div p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #282828;
}

.cCorners_Text span.read{
    font-size: 14px;
    line-height: 24px;
    color: #5555ff;
    font-weight: 400;
}

.cCorners_Text span.read:hover{
    cursor: pointer;
    text-decoration: underline;
}
/* making off */
#make {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #656969;
   margin-left: 5%;
}
#makeof {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 1%;
 margin-left: 5%;

}
#makeof div {
    display: grid;
   grid-template-columns: 22% 22% 22% 22%;
 
}
#makeof img {
  width: 450%;
 
}



div#homeStretch_section{
    border-bottom: 1px solid #f0f0f0;
    padding: 4% 0%;
    width: 90%;
    margin: auto;
}

#homeStretch_section #homeStretch_first{
    padding: 3% 0;
    /* border: 1px solid; */
    display: flex;
    gap: 2%;
    align-items: center;
}

#homeStretch_section #homeStretch_first span:nth-child(1){
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #656969;
}

#homeStretch_section #homeStretch_first span:nth-child(2){
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #5555ff;
}

#homeStretch_section #homeStretch_first span:nth-child(2) i{
    padding-left: 5px;
}

#homeStretch_section #homeStretch_first span:nth-child(2):hover:not(i){
    text-decoration: underline;
}

/* making off */