.selects{
    outline: none;
    border: 10px solid white;
    height: 50px;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
}
.selects:hover{
    border: 1px solid black;
}